* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no_container {
    margin: 32px;
}

.no_form-input {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    width: 100%;
}

.no_infomation-input {
    float: left;
    width: calc(100% / 3);
}

.no_info-vacxin {
    padding: 8px ;
    margin-top: 8px;
    border-radius: 5px;
    width: 450px;
    font-size: 14px;
}

.no_important {
    color: red;
}

.no_note-vacxin {
    height: 100px;
    width: 450px;
    border-radius: 5px;
    margin-top: 16px;
}

.no_btn-vacxin {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.no_btn-vacxin .no_btn-format {
    float: left;
}

.no_action{
    display: flex;
    justify-content: space-evenly;
}

.no_reset-btn {
    margin-right: 36px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.no_reset-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.no_update-btn {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: aqua;
    border-radius: 5px;
}

.no_update-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#customer {
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
/* Boostrap */
.table thead th {
    border: 2px solid #000;
}
.table td, .table th{
    border: 1px solid #000;
    
}
td,
th {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color:rgb(48, 176, 226);
    color: #fff;
}
.table tr{
    color: white;
}
.no_description{
    width: 500px;
}

.no_edit-btn {
    padding: 8px 16px;
    margin-right: 16px;
}

.no_delete-btn {
    padding: 8px 16px;
}

.no_dang-ky-btn {
    padding: 8px 16px;
    margin-right: 16px;
    background-color: cyan;
    border-radius: 4px;
}

.no_dang-ky-btn:hover {
    background-color: #fff;
    color: #000;
    border-radius: 4px;
}